<!-- <h1>Task#new</h1>
<p>Find me in app/views/task/new.html.erb</p> -->

<!-- <form action="/tasks", method="post">
  <label for="title">Enter new task</label>
  <input type="text" name="task[title]">

  <label for="content">Enter details</label>
  <input type="text" name="task[content]">

  <input type="submit">

</form>
 -->
 <%= render "form" %>
